.image-form {
    display: flex;
    flex-direction: column;
    gap: 25px 0;
    padding: 25px;
    border: 2px solid white;
    border-radius: 10px;
    align-items:center;
    justify-content: center;
    margin: 25px;
    width: 500px;
    background-color: rgb(206, 206, 213);
    color: black;
}

.image-form__input {
    width: 250px;
    font-size: large;
    border: 10px;
}

.image-form__button {
    font-size: large;
    padding: 10px 20px 10px 20px;
}

.image-form__result {
    display: flex;
    flex-direction: row;
    gap: 25px; 
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 25px;
}

