.image-form {
    display: flex;
    flex-direction: column;
    gap: 25px 0;
    padding: 25px;
    border: 2px solid white;
    border-radius: 10px;
    align-items:center;
    justify-content: center;
    margin: 25px;
    width: 500px;
    background-color: rgb(206, 206, 213);
    color: black;
}

.image-form__input {
    width: 200px;
}
